@tailwind base;
@tailwind components;
@tailwind utilities;

button,
a {
  cursor: pointer;
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
}